{
    "title": "Example",
    "url": "../v2.0",
    "endpoints": {
        "login": {
            "GET": {},
            "POST": {
                "args": {
                    "POST/login": [ "user", "pass" ]
                },
                "encrypt": {
                    "POST/login": {
                        "pass": [ "base64", "md5" ]
                    }
                }
            },
            "DELETE": {}
        },

        "register": {
            "separator": true,
            "POST": {
                "args": {
                    "POST/register": "json"
                }
            }
        },

        "users": {
            "separator": true,
            "GET": {
                "extra": true
            },
            "POST": {
                "extra": true,
                "args": {
                    "POST/users": [ "name", "username", "password", "email", "type", "status" ],
                    "POST/users/{id}/roles": [ "role" ]
                },
                "select": {
                    "POST/users": {
                        "type": [ "admin", "client" ],
                        "status": [ "new", "active", "disabled" ]
                    }
                },
                "encrypt": {
                    "POST/users": {
                        "password": [ "base64" ]
                    }
                }
            },
            "PUT": {
                "extra": true,
                "args": {
                    "PUT/users": [ "name", "username", "password", "email", "type", "active" ]
                },
                "select": {
                    "POST/users": {
                        "type": [ "admin", "client" ],
                        "status": [ "new", "active", "disabled" ]
                    }
                },
                "encrypt": {
                    "PUT/users": {
                        "password": [ "base64" ]
                    }
                }
            },
            "DELETE": {
                "extra": true
            }
        },

        "clients": {
            "separator": true,
            "GET": {
                "extra": true,
                "args": {
                    "GET/clients": []
                }
            },
            "POST": {
                "args": {
                    "POST/clients": [
                        "firstname",
                        "lastname",
                        "documentno",
                        "username",
                        "password",
                        "email",
                        "address",
                        "phone",
                        "nationality",
                        "status"
                    ]
                },
                "select": {
                    "POST/clients": {
                        "status": [ "new", "active", "disabled" ]
                    }
                },
                "encrypt": {
                    "POST/clients": {
                        "password": [ "base64" ]
                    }
                }
            },
            "PUT": {
                "extra": true,
                "args": {
                    "PUT/clients/{id}": [
                        "firstname",
                        "lastname",
                        "documentno",
                        "username",
                        "password",
                        "email",
                        "address",
                        "phone",
                        "nationality",
                        "status"
                    ]
                },
                "select": {
                    "PUT/clients/{id}": {
                        "status": [ "new", "active" ]
                    }
                },
                "encrypt": {
                    "PUT/clients/{id}": {
                        "password": [ "base64" ]
                    }
                }
            },
            "DELETE": {
                "extra": true
            }
        },

        "countries": {
            "separator": true,
            "GET": {
                "extra": true,
                "args": {
                    "GET/countries": []
                }
            },
            "POST": {
                "extra": true,
                "args": {
                    "POST/countries": [ "name" ]
                }
            },
            "PUT": {
                "extra": true,
                "args": {
                    "PUT/countries/{id}": [ "name", "active" ]
                }
            },
            "DELETE": {
                "extra": true
            }
        },

        "auctions": {
            "separator": true,
            "GET": {
                "extra": true,
                "args": {
                    "GET/auctions": [],
                    "GET/auctions/{id}/batches": []
                }
            },
            "POST": {
                "extra": true,
                "args": {
                    "POST/auctions": [ "name", "starts", "ends" ],
                    "POST/auctions/{id}/batches": [ "breed", "amount_start", "amount_current", "last_bid" ]
                }
            },
            "PUT": {
                "extra": true,
                "args": {
                    "PUT/auctions/{id}": [ "name", "starts", "ends", "active" ],
                    "PUT/auctions/{id}/batches/{id}": [ "active" ]
                }
            },
            "DELETE": {
                "extra": true
            }
        },

        "batches": {
            "separator": true,
            "GET": {
                "extra": true,
                "args": {
                    "GET/batches": [],
                    "GET/batches/{id}/bids": []
                }
            },
            "POST": {
                "extra": true,
                "args": {
                    "POST/batches": [
                        "auction",
                        "origin",
                        "breed",
                        "category",
                        "youtube",
                        "facebook",
                        "amount_start",
                        "amount_current",
                        "last_bid"
                    ],
                    "POST/batches/{id}/bids": [
                        "client",
                        "amount"
                    ]
                }
            },
            "PUT": {
                "extra": true,
                "args": {
                    "PUT/batches/{id}": [
                        "auction",
                        "origin",
                        "breed",
                        "category",
                        "youtube",
                        "facebook",
                        "amount_start",
                        "amount_current",
                        "last_bid",
                        "active"
                    ],
                    "PUT/batches/{id}/bids/{id}": [
                        "client",
                        "amount",
                        "active"
                    ]
                }
            },
            "DELETE": {
                "extra": true
            }
        },

        "bids": {
            "separator": true,
            "GET": {
                "extra": true,
                "args": {
                    "GET/bids": []
                }
            },
            "POST": {
                "args": {
                    "POST/bids": [ "batch", "client", "amount" ]
                }
            },
            "PUT": {
                "extra": true,
                "args": {
                    "PUT/bids/{id}": [ "batch", "client", "amount", "active" ]
                }
            },
            "DELETE": {
                "extra": true
            }
        }
    }
}
