{
    "title": "Example",
    "url": "../v2.0",
    "endpoints": {
        "login": {
            "GET": {},
            "POST": {
                "args": {
                    "POST/login": [ "user", "pass" ]
                },
                "encrypt": {
                    "POST/login": {
                        "pass": [ "base64", "md5" ]
                    }
                }
            },
            "DELETE": {}
        },

        "register": {
            "separator": true,
            "POST": {
                "args": {
                    "POST/register": "json"
                }
            }
        },

        "users": {
            "separator": true,
            "GET": {
                "extra": true
            },
            "POST": {
                "extra": true,
                "args": {
                    "POST/users": [ "name", "username", "password", "email", "status" ],
                    "POST/users/{id}/roles": [ "role" ]
                },
                "select": {
                    "POST/users": {
                        "status": [ "new", "active", "disabled" ]
                    }
                },
                "encrypt": {
                    "POST/users": {
                        "password": [ "base64" ]
                    }
                }
            },
            "PUT": {
                "extra": true,
                "args": {
                    "PUT/users": [ "name", "username", "password", "email", "active" ]
                },
                "encrypt": {
                    "PUT/users": {
                        "password": [ "base64" ]
                    }
                }
            },
            "DELETE": {
                "extra": true
            }
        },

        "countries": {
            "separator": true,
            "GET": {
                "extra": true,
                "args": {
                    "GET/countries": []
                }
            },
            "POST": {
                "extra": true,
                "args": {
                    "POST/countries": [ "name" ]
                }
            },
            "PUT": {
                "extra": true,
                "args": {
                    "PUT/countries/{id}": [ "name", "active" ]
                }
            },
            "DELETE": {
                "extra": true
            }
        }

    }
}
